<div class="welcome-page">

    <div class="welcome-message">
        <h1>Welcome to our school</h1>
        <img src="https://footballscoop.com/.image/c_fit%2Ccs_srgb%2Cq_auto:good%2Cw_620/MTgwODU1MzY1OTA4NzAyNTY4/bulldog-logo.png"/>

        <h3>We are commited to excelence</h3>
        <h3>Our Mission:</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ullamcorper malesuada proin libero nunc consequat interdum varius sit amet. Natoque penatibus et magnis dis parturient montes. In arcu cursus euismod quis viverra. Sed viverra ipsum nunc aliquet bibendum enim facilisis gravida neque. Amet est placerat in egestas erat imperdiet. Ultrices tincidunt arcu non sodales neque sodales ut. Pellentesque eu tincidunt tortor aliquam nulla facilisi. Odio morbi quis commodo odio aenean sed adipiscing diam donec. Nulla facilisi morbi tempus iaculis urna id.</p>
    </div>

</div>