<div class="navbar">
    <ul class="nav-list">
        <li class="nav-item">
            <a class="nav-link" routerLink="home">
                <img id='logo'
                    src='https://footballscoop.com/.image/c_fit%2Ccs_srgb%2Cq_auto:good%2Cw_620/MTgwODU1MzY1OTA4NzAyNTY4/bulldog-logo.png'
                    height='60px' width='60px' />
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="courses">Courses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="secret">Faculty List</a>
        </li>
        <li class="nav-item">
            <button id="login-button" (click)="navigateLogin()">Student or Faculty Login</button>
        </li>
    </ul>
</div>
